<div class="container mt-3">
  <div class="card">
      <div class="card-body">
          <span class="h3">Secciones</span>

          <div class="table-responsive">

            <button class="btn btn-success float-end mb-2" routerLink="seccion/create">Agregar</button>

            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-hover table-bordered mt-5 row-border hover">

              <thead>
                <tr>
                  <th scope="col">Nro</th>
                  <th scope="col">Descripción</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let item of seccionesData; let ind = index;">
                  <td data-label="Nro">{{ind+1}}</td>
                  <td data-label="Nombre">{{item.secC_cDescripcion}}</td>
                  <td data-label="Acciones">
                      <i class="fas fa-edit fa-lg text-primary me-2" (click)="onGotoEdit(item)"></i>
                      <i class="fas fa-trash fa-lg text-danger" (click)="onGotoDelete(item)"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>

      <hr>
      <div class="card-body">
        <span class="h3">Medidas</span>

        <div class="table-responsive">

          <button class="btn btn-success float-end mb-2" routerLink="medida/create">Agregar</button>

          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-hover table-bordered mt-5 row-border hover">

            <thead>
              <tr>
                <th scope="col">Nro</th>
                <th scope="col">Tipo</th>
                <th scope="col">Descripción</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let item of medidasData; let ind = index;">
                <td data-label="Nro">{{ind+1}}</td>
                <td data-label="Tipo">{{item.medI_cTipo}}</td>
                <td data-label="Descripción">{{item.medI_cDescripcion}}</td>
                <td data-label="Acciones">
                    <i class="fas fa-edit fa-lg text-primary me-2" (click)="onGotoEdit(item)"></i>
                    <i class="fas fa-trash fa-lg text-danger" (click)="onGotoDelete(item)"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
  </div>
</div>
