i{
  cursor: pointer;
}

@media screen and (max-width: 600px) {
table {
  border: 0;
}

table thead {
  border: none;
  clip-path: rect(0 0 0 0);
  height: 0px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

table tr {
  display: block;
  margin-bottom: .625em;
}

table td {
  border-bottom: 1px solid #ddd;
  display: block;
  font-size: .9em;
  text-align: right;
}

table td::before {
  /*
  * aria-label has no advantage, it won't be read inside a table
  content: attr(aria-label);
  */
  content: attr(data-label);
  float: left;
  font-weight: bold;
}

table td:last-child {
  border-bottom: 0;
}
}
