<div class="container mt-3 ms-3">

  <h2 style="color: red;">¿Realmente desea eliminar el registro?</h2>

  <form [formGroup]="form"  (submit)="enviarData()">
    <br>

    <div class="form-outline mb-4">

        <p>
          Categoria
        </p>

        <p
        style="background-color: rgb(215, 216, 218);"
        class="form-control"
        disabled
        >{{this.data['maeS_cDescripcion']}}</p>

        <br>

        <p>Descripción</p>
        <p
        style="background-color: rgb(215, 216, 218);"
        class="form-control"
        disabled
        >{{this.data['maeS_cDescripcionCampo']}}</p>


    </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-danger btn-block">Eliminar</button> &nbsp;
    <button type="btn" class="btn btn-primary btn-block" routerLink="/mantenimiento/maestro">Cancelar</button>
  </form>
</div>

